@import '../mixin.scss';

.ly-popper {
  border: $div-border;
  background-color: #fff;
  color: $font-color;
  padding: 10px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  font-size: 12px;

}

.ly-popper__arrow {


  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid transparent;

  }

}

.ly-popper__arrow_top {

  &:after,
  &:before {
    bottom: -17px;
    margin-left: -4px;
    border-top-color: $border-color;
    left: 50%;

  }

  &:after {
    border-top-color: #fff;
    bottom: -16px;
  }

}

.ly-popper__arrow_bottom {

  &:after,
  &:before {
    bottom: 38px;
    margin-left: -4px;
    border-bottom-color: $border-color;
    left: 50%;
  }

  &:after {
    border-bottom-color: #fff;
    bottom: 37px;
  }
}

.ly-popper__arrow_left {

  &:after,
  &:before {
    left: 100%;
    border-left-color: $border-color;
  }

  &:after {
    border-left-color: #fff;
    left: calc(100% - 1px);

  }
}

.ly-popper__arrow_right {

  &:after,
  &:before {
    right: 100%;
    border-right-color: $border-color;
  }

  &:after {
    border-right-color: #fff;
    right: calc(100% - 1px);

  }
}